body {
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

.bg-light-brown {
    background: #f9f5e3; /* pergamen */
}

.bg-brown {
    background: #5d4037; 
}

.bg-dark-brown {
    background: #3e2723;
}

.navbar-brand {
    font-family:'Marcellus', serif;
}

/* Hrubšie okraje kartičiek */
.card {
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #777; /* hrubší border */
    background: #f9f5e3;
    font-family:'Lato', sans-serif;
}

/* Hlavička priečinka trošku svetlejšia ako minule ale tmavšia ako pôvodne */
.folder-header {
    background: #553a31; /* kompromisná tmavohnedá */
    color: #fff;
    border-bottom: 2px solid #777;
}

.preview-box a, .page-content a {
    color: blue;
    text-decoration: underline;
}

.modal-fullscreen {
  width: 100vw;
  height: 100vh;
  margin:0;
  padding:0;
}

.table, .table td, .table th {
    border: 2px solid #777 !important;
}
