body {
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

.bg-light-brown {
    background: #f9f5e3; /* pergamen */
}

.bg-brown {
    background: #5d4037; 
}

.bg-dark-brown {
    background: #3e2723;
}

.navbar-brand {
    font-family:'Marcellus', serif;
}

/* Hrubšie okraje kartičiek */
.card {
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #777; /* hrubší border */
    background: #f9f5e3;
    font-family:'Lato', sans-serif;
}

/* Kompromisná tmavohnedá pre folder header */
.folder-header {
    background: #553a31; /* kompromisná hnedá */
    color: #fff;
    border-bottom: 2px solid #777;
}

.preview-box a, .page-content a {
    color: blue;
    text-decoration: underline;
}

.modal-fullscreen {
  width: 100vw;
  height: 100vh;
  margin:0;
  padding:0;
}

.table, .table td, .table th {
    border: 2px solid #777 !important;
}

/* Headingy s clear, aby neobtekali obrázky */
h1, h2, h3, h4 {
    clear: both;
}

/* Styling pre figure a figcaption */
figure {
    margin: 0;
    padding: 0;
}

.figure-center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.figure-left, .figure-right {
    display: inline-block;
    vertical-align: top;
}

.figure-caption {
    text-align: center;
    font-size: smaller;
    color: #555;
    margin-top: 5px;
    clear: both;
}

/* Uistite sa, že figure neovplyvňuje ostatný obsah */
figure::after {
    content: "";
    display: table;
    clear: both;
}
