{% extends 'layout.html' %}

{% block content %}
<h2 class="mb-4" style="font-family:'Marcellus', serif;">Zoznam stránok</h2>

<div class="mb-3" style="font-family:'Lato', sans-serif;">
  <label>Filter (vyber štítky):</label><br>
  <div id="tag-filter" class="mb-2" style="display:flex; flex-wrap:wrap;"></div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="filter-mode-toggle" value="and">
    <label class="form-check-label" for="filter-mode-toggle">AND filter</label>
    <small class="text-muted d-block">Ak je vypnuté, používa sa OR filter.</small>
  </div>
</div>

<div id="page-list" style="font-family:'Lato', sans-serif;"></div>

{% if session.user.role == "Admin" %}
<p class="mt-4">
  <a href="{{ url_for('add_page') }}" class="btn btn-sm btn-outline-dark">
    <i class="fas fa-plus"></i> Pridať novú stránku
  </a>
</p>
{% endif %}

{% endblock %}
