{% extends 'layout.html' %}

{% block content %}
<h2 style="font-family:'Marcellus', serif;">{{ title }}</h2>
<div class="page-content" style="font-family:'Lato', sans-serif;">
    {{ content|safe }}
</div>

{% if page_tags and page_tags|length > 0 %}
<hr>
<div style="font-family:'Lato', sans-serif;">
  <strong>Štítky:</strong>
  {% for t in page_tags %}
    <span style="background:{{t.color}}; color:#fff; padding:2px 4px; border-radius:4px; margin-right:4px;">
      {{ t.name }}
    </span>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
